.nav {
    padding: 0 1.6rem !important;
    height: 7.2rem;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    z-index: 50;
    background-color: rgb(255, 255, 255);
   
    .logo {
        display: flex;
        align-items: center;
        padding-right: 2.4rem;
        & > div {
            margin-right: 1rem;
        }
        img {
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
        }
        @media (min-width: 1316px) {
            & {
                margin-right: 18.9rem;
            }
        }
    }
    .form {
        flex-grow: 20;
    }
    .navRight {
        display: flex;
        align-items: center;
        margin-left: 1.6rem;
        a {
            height: 7.2rem;
            display: flex;
            align-items: center;
            color: rgba(4, 17, 29, 0.75) !important;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 0 2rem !important;
            border-bottom: 2px solid transparent;
            svg {
                font-size: 3rem;
            }
            &:hover {
                border-bottom: 2px solid var(--primary-color);
                color: rgb(4, 17, 29) !important;
            }
        }
    }
    :global {
        .ant-input-affix-wrapper {
            height: 4.5rem;
            max-width: 768px;
            border-radius: 0.4rem;
            .anticon-search {
                font-size: 2rem;
                user-select: none;
                color: rgb(112, 122, 131);
            }
            input {
                margin-left: 1.6rem;
                color: rgba(4, 17, 29, 0.75);
                font-size: 1.6rem;
                background-color: transparent;
            }
        }
        
    }
}

.menuMarket, .menuStats, .menuResource, .menuUser {
    :global {
        .ant-dropdown-menu-item {
            transition: all 0.2s ease 0s;
            box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
            background-color: rgb(251, 253, 255);
            opacity: 1;
            color: rgb(53, 56, 64) !important;
            width: 100%;
            font-weight: 600;
            padding: 1.6rem;
            display: flex;
            a {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                img {
                    margin-right: 1rem !important;
                }
            }
        }
        .ant-dropdown-menu-item:not(:last-child) {
            border-bottom: 1px solid rgb(229, 232, 235);
        }
        .ant-dropdown-menu-title-content {
            display: flex;
            align-items: center;
            img {
                margin-right: 1rem;
            }
        }
    }
}
    
