@import "../../styles/base.scss";

.featureSell {
    margin-top: 16rem;
    .titleHome {
        margin-bottom: 8rem;
    }
    .sellItems {
        text-align: center;
        h4 {
            color: rgb(4, 17, 29);
            margin: 1.5rem 0;
        }
        p {
            font-weight: 400;
            font-size: 1.6rem;
            color: rgb(112, 122, 131);
            padding: 0 1.5rem;
        }
        a {
            color: var(--primary-color);
            font-weight: bolder;
        }
    }
}