.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > nav + div {
        margin-top: 7.2rem;
        background-color: var(--background-color);
        height: 100%;
    }
}