.sellItemContainer {
    transition: all 0.1s ease 0s;
    padding: 1rem;
    &:hover {
        transform: translateY(-2px);
    }
}
.sellItem {
    :global {
        .ant-card {
            border-radius: 0.7rem;
        }
        .ant-card-bordered {
            border: 1px solid rgb(229, 232, 235);
        }
        .ant-card-body {
            padding: 1rem;
        }
    }
    .itemFavorite {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    .itemImg {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 22rem;
        min-width: 23rem;
        & > div {
            border-radius: 0.7rem;
        }
    }
    .sellItemContent {
        padding-top: 1rem;
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .itemPrice {
                text-align: right;
                font-weight: 500;
                & > div > div{
                    width: 1rem;
                }
            }
            .itemType > div {
                width: 2rem;
            }
            .itemCoin {
                font-size: 1.1rem;
                & > div {
                    width: 0.7rem;
                }
            } 
            .itemPrice, .itemCoin {
                span {
                    color: rgb(53, 56, 64);
                }
            }
            .ownerName {
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        & > div:first-child {
            margin-bottom: 1.5rem;
        }
    }
}