.assets {
    display: flex;
    overflow-y: hidden;
    .showFilter {
        bottom: 20px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 4;
        @media (min-width: 768px) {
            display: none;
        }
        .buttonShowFilter {
            -webkit-box-align: center;
            align-items: center;
            background-color: rgb(32, 129, 226);
            border-radius: 25px;
            box-shadow: rgb(0 0 0 / 25%) 0px 1px 20px;
            color: white;
            display: flex;
            font-size: 16px;
            font-weight: 600;
            height: 50px;
            -webkit-box-pack: center;
            justify-content: center;
            width: 292px;
            border: 0;
        }
    }
    
    .mainAsset {
        flex: 1;
        overflow-y: scroll;
        padding: 4rem;
        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;
            .totalResult {
                font-weight: 500;
            }
            .filter {
                display: flex;
                justify-content: center;
                @media (max-width: 768px) {
                    & {
                        width: 100%;
                        & > div {
                            width: 50%;
                        }
                    }
                }
                & > div {
                    width: 200px;
                }
                & > div:first-child {
                    margin-right: 1rem;
                }
            }
        }
        .assetsList {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media (max-width: 768px) {
                justify-content: center;
            }
        }
    }
}