@import '@/styles/base.scss';

.collections {
    padding: 7rem 0;
    h1 {
        font-size: 4rem;
    }
    .secondaryButton {
        height:auto;
    }
    .listCollection {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    .sellItemContainer {
        margin-right: 1rem;
        margin-bottom: 2rem;
        position: relative;
        .goToEdit {
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 1;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            padding: 1rem;
            border-radius: 0.5rem;
            span {
                color: #000;
            }
            svg {
                font-size: 2rem;
            }
        }
        :global {
            .ant-card-cover {
                position: relative;
                height: 23rem;
            }
        }
    }

    .trendingItem {
        display: block;
        position: relative;
      
       
        :global {
            .ant-card {
                border-radius: 1rem;
                border: none;
                background-color:transparent !important;
           }
            .ant-card-cover {
                position: relative;
                height: 30rem;
                img {
                    border-radius: 10px 10px 0 0;
                }
           }
           .ant-card-body {
               padding: 0;
               position: relative;
               background-color: var(--secondary-color);
              border-radius: 0 0 1rem 1rem;
           }
        }
     }
     .trendingItemContent {
        text-align: center;
        padding: 4rem;
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            padding: 0.3rem;
            background: #fff;
            border-radius: 50%;
            height: 6rem;
            width: 6rem;
            border: 1px solid #ccc;
            img {
                border-radius: 50%;
                width: 5rem !important;
                height: 5rem;
            }
        }
    }
}