@import '@/styles/base.scss';

.create {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    .secondaryButton {
        width: 10rem;
    }
    .imageAsset {
        position: relative;
        margin: 2rem 0;
    }
}