.navMobile {
    padding: 0 1.6rem !important;
    height: 7.2rem;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    @media (min-width: 769px) {
        display: none !important;
    }
    .logo {
        display: flex;
        align-items: center;
        padding-right: 2.4rem;
        & > div {
            margin-right: 1rem;
        }
        img {
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
        }
        @media (max-width: 768px) {
            & {
                padding-right: 0;
                & > div {
                    margin-right: 0;
                }
            }
        }
        @media (min-width: 1316px) {
            & {
                margin-right: 18.9rem;
            }
        }

    }
    .buttonCollapse {
        border: 1px solid #d9d9d9;
        svg {
            font-size: 2.6rem;
        }
    }
    .navCollapse {
        position: fixed;
        right: 0;
        z-index: 99;
        top: 72px;
        bottom: 0;
        transition: 0.5s ease;
        width: 100%;
        background: #fff;
        :global {
            .ant-collapse-arrow {
                right: 4rem !important;
            }
        }
        a {
            height: 7.2rem;
            display: flex;
            align-items: center;
            color: rgba(4, 17, 29, 0.75) !important;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 0 2rem !important;
            border-bottom: 2px solid transparent;
            svg {
                font-size: 3rem;
            }
            &:hover {
                border-bottom: 2px solid var(--primary-color);
                color: rgb(4, 17, 29) !important;
            }
            @media (max-width: 768px) {
                height: auto !important;
                padding: 0 !important;
            }
        }
    }
    :global {
        .ant-input-affix-wrapper {
            border-radius: 0.4rem;
            .anticon-search {
                font-size: 2rem;
                user-select: none;
                color: rgb(112, 122, 131);
            }
            input {
                margin-left: 1.6rem;
                color: rgba(4, 17, 29, 0.75);
                font-size: 1.6rem;
                background-color: transparent;
            }
        }
        
    }
}

.menuMarket {
    max-height: 70vh;
    overflow-y:  auto;
}

