@import "@/base.scss";

.managerAccout {
  width: 100%;
  position: absolute;
  bottom: 20px;
  top: 0px;
  display: flex;
  flex-direction: column;
  .content {
    margin: 20px 20px 0px 20px;
    overflow-y: scroll;
    .chart{
      border-radius: 20px;
      box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 10px;
      margin: 1rem 1rem 1rem 0rem;
    }
    .chart1{
      border-radius: 20px;
      box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 10px;
      margin: 1rem 0rem 1rem 1rem;
    }
  }
  
  .rdt{
    float: right;
  }
}
