@import '@/styles/base.scss';

.sideFilter {
    border-right: 1px solid var(--lighten-background);
    overflow-y: auto;
    @media (max-width: 768px) {
        display: none;
    }
    :global {
        .ant-layout-sider {
            height: 100%;
            display: flex; 
            flex-direction: column-reverse;
            justify-content: flex-end;
            background-color: var(--background-color);
            .ant-layout-sider-children {
                height: auto;
                .ant-collapse {
                    margin-bottom: 2.6rem;
                    border-right: none;
                }
            }
        }
        
        .ant-layout-sider-trigger {
            position: relative; 
            background: var(--background-color);
            color: #fff;
            border-bottom: 1px solid var(--lighten-background);
        }
    }
    .filterTitle {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 20px !important;
        user-select: none;
        background: var(--background-color);
        color: var(--text-color);
        svg {
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }
    .filterList {
        display: flex;
        flex-flow: wrap;
        & > div {
            -webkit-box-align: center;
            align-items: center;
            border: 1px solid rgb(229, 232, 235);
            border-radius: 5px;
            color: rgb(53, 56, 64);
            display: flex;
            height: 40px;
            margin: 4px;
            padding: 10px;
            width: calc(50% - 8px);
            cursor: pointer;
            font-weight: 500;
            &:hover {
                box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
                transition: all 0.2s ease 0s;
            }
        }
        .isSelected {
            color: rgb(255, 255, 255);
            background-color: rgb(32, 129, 226);
            border-color: rgb(32, 129, 226);
        }
    }
    .filterPrice {
        & > div:first-child {
            display: flex;
            border-radius: 5px;
            border: 1px solid rgb(229, 232, 235);
            width: 100%;
            padding: 12px;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
            & > div {
                width: 16px;
                height: 16px;
                margin-right: 1rem !important;
            }
          }
        .rangePrice {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            span {
                margin: 0 1rem;
            }
            :global {
                .ant-input {
                    background-color: transparent;
                    flex: 1 0 0%;
                    outline: none;
                    padding: 1rem;
                    min-width: 0px;
                    color: rgba(255, 255, 255, 0.75);

                }
            }
        }
        .wrongPrice {
            font-weight: 500;
            font-size: 12px;
            color: rgb(235, 87, 87);
            margin-top: 1.6rem;
          }
        .applyPrice {
            margin-top: 2rem;
            display: inline-flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 5px;
            -webkit-box-pack: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            height: auto;
            padding: 5px 20px 10px;
            border: 1px solid rgb(32, 129, 226);
            background: var(--background-color);
            &:hover {
                box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
                transition: all 0.2s ease 0s;
            }
        }
    }
    .filterCollections {
        ul {
            margin-top: 2rem;
            max-height: 17rem;
            padding: 0;
            li {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 1rem 0;
                position: relative;
                &:hover {
                    & > div {
                        transform: scale(1.1);
                        & > img {
                            height: 100%;
                            object-fit: cover;
                            transition: opacity 400ms ease 0s;
                            width: 100%;
                        }
                    }
                }
                & > div {
                    margin-right: 32px !important;
                    width: 32px;
                    height:32px;
                    /* border: 1px solid rgb(229, 232, 235); */
                    -webkit-box-align: center;
                    align-items: center;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    max-height: 100%;
                    max-width: 100%;
                    overflow: hidden;
                    position: relative;
                    border-radius: 50%;
                }
            }
            :global {
                .ant-checkbox-wrapper {
                    display: flex;
                    margin-bottom: 1.5rem;
                    margin-left: 0;
                }
            }
        }
    }
}

.selectPrice {
    :global {
        .ant-select-item-option-content {
            & > div {
                width: 1rem;
                height: 2rem;
                margin-right: 1rem !important;
            }
        }
    }
}