@import "@/styles/base.scss";

.featureSell {
    margin-top: 16rem;
    margin-bottom: 8rem;
    .titleHome {
        margin-bottom: 8rem;
    }
    .sellItems {
        text-align: center;
        h4 {
            margin: 1.5rem 0;
            font-size: 1.7rem;
        }
        p {
            font-weight: 400;
            font-size: 1.6rem;
            color: rgb(138, 147, 155);
            padding: 0 1.5rem;
        }
        a {
            color: var(--primary-color);
            font-weight: bolder;
        }
    }
    
}