@import "@/styles/base.scss";

.listExclusive {
    margin-top: 4rem;
    & > div {
        padding: 0 1rem;
    }
    :global {
        .ant-card {
            border-radius: 0.5rem;
            overflow: hidden;
        }
        .ant-card-body {
            padding: 0;
        }
    }
    .exclusiveItem {
        h3 {
            color: #fff;
        }
        text-align: center;
        color: #fff;
        background-color: rgb(58, 94, 127);
        padding: 2rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        p {
            font-weight: 400;
            /* max-width: 90%; */
            margin: 20px 0px 1rem;
            height: 45px;
            overflow: hidden;
        }
        .liveBtn {
            border-radius: 5px;
            background-color: rgb(52, 199, 123);
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 1.4rem;
            padding: 4px 10px;
            border: none;
        }
    }
}