.table {
  margin-top: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 2px 16px #00000029;
  border-radius: 10px;
  width: 100%;
  flex-grow: 1;
  table {
    padding: 10px;
    width: 100%;
    text-align: center;
    color: black;
    tr {
      border-bottom: 1px solid #eeeeee;
    }
    tbody {
      tr {
        height: 50px;
        font-size: 16px;
      }
      > :nth-last-child(1) {
        border-bottom: unset;
      }
    }
    thead {
      tr {
        height: 50px;
        color: #777777;
        font-weight: unset !important;
      }
      th { position: sticky; top: 0; background-color: #ffffff;}
    }
  }
}
:global {
  .rud-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.content {
  margin: 20px;
  .searchBox {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    input {
      width: 250px;
      margin-top: 5px;
    }
    > :nth-child(2),
    > :nth-child(3) {
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  .spaceBetween {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.scroll{
  overflow-y: scroll;
}

.bgJourneyNoCenter {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  div{
    height: 20px;
  }
}
