.rankings {
    .heading {
        text-align: center;
        h1 {
            margin: 40px 0px 20px;
            font-weight: 600;
            font-size: 4rem;
            letter-spacing: 0px;
        }
        p {
            font-weight: 400;
            font-size: 1.6rem;
            color: var(--paragraph-color);
        }
    }
    :global {
        .ant-table-wrapper {
            overflow-x: auto;
        }
    }
    .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        @media screen and (max-width: 576px) {
            & {
                flex-direction: column;
                & > div {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    :global {
                        .ant-select {
                            width: 100%;
                        }
                    }
                }
            }
        }
        & > div {
            :global {
                .ant-select {
                    margin: 1rem;
                    svg {
                        margin-right: 2rem;
                    }
                    @media (min-width:815px) {
                        width: 24rem;
                    }
                    &:hover {
                        transition: all 0.2s ease 0s;
                        box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
                        background-color: rgb(251, 253, 255);
                        opacity: 1;
                    }
                }
            }
        }
        
    }
    :global {
        .ant-table-wrapper, .ant-table-container {
            background-color: var(--background-color);
        }
        .ant-table {
            .ant-table-container {
                background: var(--background-color);
            }
            th {
                font-weight: 600;
                font-size: 1.6rem;
            }
            .ant-table-tbody {
                tr {
                    cursor: pointer;
                }
                tr:hover {
                    border-radius: 5px;
                    border-bottom: 1px solid transparent;
                    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
                    td {
                        background-color: var(--lighten-background);
                    }
                }
                td {
                    padding: 2.5rem;
                    border-bottom: 1px solid var(--lighten-background);
                }
            }
        }
    }
}

.dropdownMarket {
    :global {
        .ant-select-item-option-content {
            display: flex;
            align-items: center;
            img {
                padding-right: 2rem !important;
            }
            svg {
                margin-right: 2rem;
            }
        }
    }
}

